:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --list-color: #504e4d;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --hero-heading-color: #0a043c;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h3{
    color: var(--btn-hover-bg-color);
}
.fruitsname{
    color: var(--main-color);
}
{
    color: var(--list-color);
}
