body {
  background-color: lightgray;
}

header {
  background: linear-gradient(blue, black, gray, black);
  text-align: center;
}

#a1 {
  color: gold;
  
}
.a2 {
  color: cyan;
  
}
.a3 {
  color: lightgreen;
  
}

.a4 {
  color: whitesmoke;
}
.q1 {
  color: white;
  background-color: blue; 

}
.q6 {
  color: blue;
}
.q2 {
  color: white;
  background-color: blue;
}
.q3 {
  color: white;
  background-color: blue;
}
.q4 {
  color: white;
  background-color: blue;
}
.q5 {
  color: white;
  background-color: blue;
}
.q12 {
  background-color: green;
}
#profile {
  background-color: lightblue;
}

/* #c1{
  background-color: darkkhaki;
}  */
