* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: grid;
}
.container-img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation: gallery 30s linear infinite;
  -webkit-animation: gallery 30s linear infinite;
}
@keyframes gallery {
  0% {
    background-image: url(image\ copy\ 2.png);
  }
  20% {
    background-image: url(image\ h2.png);
  }
  40% {
    background-image: url(imageh3.png);
  }
  60% {
    background-image: url(imageh4.png);
  }
  80% {
    background-image: url(image5.png);
  }
  100% {
    background-image: url(image6.png);
  }
}